<div  style="background-color: #4881ea; height:1000px ">
<h1 class="bob3" style="text-align: center; font-size: 60px; margin:0 " > Shift </h1>

  <div class="container">
    <div class="page-header">
      <h1 class="bob">Example Page Header</h1>
    </div>
    <p ng-style="myStyle">This is some text.</p>
  </div>



  <div class="row">
    <div class="col-*-*"></div>
    <div >
      <img class="img-circle" style="display:block; margin:0 auto;  border-style: dotted; " src="img/images-3.jpeg" >

    </div>

  </div>
  <div class="row">
    <div class="col-*-*"></div>
    <div >

      <div class="bob3" style="width:500px; margin: 0 auto; text-align: center;" class="card">
          <br>
        <div style="font-size: 25px; border-style: solid;border-color:white;background-color:	 #4881ea; " class="item item-divider">
        Freeing Your Time, One Spot at a Time
        </div>
      </div>

    </div>

  </div>


  <div class="bob3" style="width:400px; margin: 0 auto; ">

  <br>
<br>
<button type="button" style="width:400px; margin: 0 auto;" class="btn btn-primary">
  <span  style="font-size: 25px;"> Sign Up </span>

</button>

 </br>
</br>

<button type="button" style="width:400px; margin: 0 auto;" class="btn btn-primary">
  <span  style="font-size: 25px;"> Log In </span>

</button>
</div>







<!--
<button ng-click="socketData()">Press Me!</button>
</div>




<div class="container">
  <h2>Modal Example</h2>
  //Trigger the modal with a button
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

//   Modal
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

  //     Modal content
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>

          <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>

        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>

    </div>
  </div>

</div>


-->
</div>
