<div style="padding-left:50px; padding-right:50px; ">

<h1 class="bob3" style="text-align:center;">Stores Available in Store: {{grabStorename || 'StoreName Not Passed!'}} </h1>

<!--

<div style="margin-bottom:50px">
    <div class="row">
        <div class="col-sm-12; well">
          <h1  style="text-align: center;"> Lines Available in Store:
             {{grabStorename || 'StoreName Not Passed!'}}</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs nav-justified">
          	<li class="active"><a href="#">Home</a></li>
          	<li class="active"><a href="#">Menu 1</a></li>
          	<li class="active"><a href="#">Menu 2</a></li>
          </ul>

        </div>
    </div>
</div>
-->



<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Add Another Line to Table:</th>
				<th><button class="btn btn-default btn-xs"  ng-click="addLine()">Add Line</button></th>
				<th><button class="btn btn-default btn-xs"  ng-click="numberRows()">Number of LInes</button></th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="LineNumb in lineNumber | filter:search | orderBy:'contact'">
				<td><a href="/#/peopleline" ng-click="grabLine(LineNumb)"class="list-group-item active" style="text-align: center; "> {{LineNumb}}</a></td>
				      <td> {{$index}} </td>
				<td>
					<a href="/#/contacts/{{$index}}" class="btn btn-default btn-xs">View</a>
					<button class="btn btn-danger btn-xs" ng-click="removeName($index)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
